name: CI

on:
  push:
    branches: ["master"]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  LLVM_VERSION: 20.1.7

jobs:
  check-format:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup toolchain install nightly --profile minimal --component rustfmt --no-self-update
      - run: cargo +nightly fmt --all -- --check

  lint:
    name: Lint
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - run: rustup toolchain install stable --profile minimal --component clippy --no-self-update
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: ${{ env.LLVM_VERSION }}
      - uses: Swatinem/rust-cache@v2
      - run: cargo clippy --all-features -- -D warnings

  test:
    name: Test
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - run: rustup toolchain install stable --profile minimal --no-self-update
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: ${{ env.LLVM_VERSION }}
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --all-features
